/* 
34BDA8
23292E
1D2328


slliceRight
sllicetop
sllied
sllicelift
smooth-wiggle
rise
scaleUpRotate 


*/
:root{
--bdl-color:#23292E ;
--bdd-color:#1D2328 ;
--tx-color :#34BDA8 ;


/* color: var (--tx--color) */
}



*{
padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
/* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
font-family: 'consolas';
}
.nav1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bdl-color);
  padding: .5rem;
  color: #b1c2cf;
  border-bottom: .01px solid white;
  position: fixed;
  width: 100%;
  z-index: 10000;
  
}
.vs {
  display: flex;
  gap: 1rem;
}
.vs ul li{
  display:inline-block;
padding-left: .5rem;
font-size: 12px;
font-weight: -100;
  animation: Left 1s ease forwards;

}
.name{
  animation: Top 1s ease forwards;

}
.name h3 span{
color: var(--tx-color);


}

.circel{
  display: flex;
  gap: .5rem;


 
}

.circel div{
  width: 20px;
  height: 20px;
  border-radius: 50%;

}
.circel1{
  background-color: #F6EF8A;
  animation: Right 2s ease forwards;

}
.circel2{
  background-color: #90CFA5;
  animation: Right 2.5s ease forwards;

}
.circel3{
  background-color: #F8B0B2;
  animation: Right 3s ease forwards;
}
/* //////////////////////////////////////////////////////////////// */
.icon{
  background-color: var(--bdl-color);
  width: 5%;
  color: #b1c2cf;
padding-top: 10px;


  
}
.icon .start {
  display: inline-block;
  align-items: center;
  justify-content: center;
  animation: Top 1s ease forwards;

  
}
.icon .start i{
  font-size: 2rem;
  padding: .5rem .5rem;
}

.main{
  display: flex;
  padding-top: 37px;
  height: 100%;

}
.iconnav{
  background-color: var(--bdd-color);
    width: 18%;
    height: 95vh;
  
  color: #b1c2cf;
  
  
  
  
}
.iconnav p{
  padding: .5rem .5rem 1rem ;
    animation: Right 1s ease forwards;


}

.iconnav h3{
  padding: .5rem .5rem .8rem ;
    animation: Right 1.5s ease forwards;


}

.itm{
  padding: .2rem .5rem;
    animation: Right 2s ease forwards;


}
.iconnav a{
text-decoration: none;
color: #b1c2cf;
font-weight: 1;
font-size: 14px;
transition: .5s ease;
}
.iconnav a:hover{
color: var(--tx-color);
padding-left: 1rem;


}
/* //////////////////////////////////////////////////////////////// */
.main-content{
  background-color: var(--bdl-color);
  width: 97%;
  border-left: .1px solid wheat;
  
}

.main-nav{
  display: flex;
  gap: 2rem;
  background-color: var(--bdd-color);
  position: fixed;
  width: 100%;
  border-top: 1px solid rgb(255, 255, 255);
z-index: 122;  
  animation: Top 2s ease forwards;

}
.itm1{
padding: .5rem;

}
.itm1 i{
  margin-right: .5rem;
}
.itm1:hover{
  background-color: var(--bdl-color);
  transition: .5s ease;
}

.itm1 a:hover{
  color: var(--tx-color);
}

.itm1 a{
  text-decoration: none;
  color: #b1c2cf;
  transition: .5s ease;
}

/* ///////////////////////////////////////// */

.conteinar{
  margin: 0 auto;
  width: 90%;

}
.information{

  display: flex;
  margin-top: 60px;
}
.info-text{
  width: 50%;
    
   animation: zoomOut 1s ease forwards;  
}
.info-text h1 {
color: #b1c2cf;
font-size: 2rem;
padding: 2rem 0 .7rem 0;
}
.info-text h2{
color: var(--tx-color);
padding-bottom: 3rem;
}
.loc{
  background-color: var(--bdd-color);
  border: 0.001px solid var(--tx-color);
  border-radius: 5px;
  width: 70%;
  margin-bottom: 1rem;
  

}
.itm2{
  padding: .7rem;
}
.itm2 a{
text-decoration: none;
color: #b1c2cf;
font-weight: 800;

}
.itm2 i{
color: #b1c2cf;

}
.img{
  width: 420px;
  height: 400px;
  padding-top: 4rem;
  border-radius: 50%;
   animation: zoomIn 1s ease forwards;  

}
.img img{
    display: flex;
  align-items: center;
  justify-content: center;
width: 100%;
  border-radius: 50%;
  border: 4px solid var(--tx-color);
  box-shadow: 0px 4px 50px var(--tx-color);
transition: .5s ease;



}
.img img:hover{
  transform: scale(1.1);
  box-shadow: 10px 8px 50px var(--tx-color);

}
footer{
display: flex;
align-items: center;
justify-content: space-between;
background-color: var(--bdl-color);
border-top: .1px solid white;
padding: .5rem 1rem ;
}
.foo {
  display: flex;
  gap: .5rem;
}
.foo i {
  font-size: 1.5rem;
  color: var(--tx-color);
  transition: .5s ease;
}



.foo a{
  text-decoration: none;
  color: white;
}




@keyframes Right {
  0% { transform: translateX(100px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes Left {
  0% { transform: translateX(-100px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}


@keyframes Top {
  0% { transform: translateY(-100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes Bottom {
  0% { transform: translateY(100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes zoomIn {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes zoomOut {
  0% { transform: scale(1.2); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rotateIn {
  0% { transform: rotate(-90deg); opacity: 0; }
  100% { transform: rotate(0deg); opacity: 1; }
}



@keyframes smooth-wiggle {
  from { transform: translateX(-25px); }
  to { transform: translateX(25px); }
}

@keyframes rise {
  0% { transform: translateY(0); opacity: 0.7; }
  100% { transform: translateY(-150px); opacity: 0; }
}

@keyframes scaleUpRotate {
  0% { transform: scale(1) rotate(0deg); }
  100% { transform: scale(10) rotate(720deg); }
}



    .html { color: #e34c26; }
    .css { color: #264de4; }
    .js { color: #f7df1e; }

.about{
  background-color: var(--bdd-color);
  color: #b1c2cf;
}
.about h2{
  display: flex;
align-items: center;
justify-content: center;
padding: 2rem;
color: var(--tx-color);
font-size: 2.5rem;
font-weight: 1200;
   animation: zoomOut 2s ease forwards;  


}
.about p{

  font-size: 21px;
  font-weight: 700;
  margin-bottom: 3rem;
  line-height: 2.5rem;
   animation: zoomIn 1s ease forwards;  

}
.about .a a{
  padding: .7rem 5rem;
  background-color: var(--tx-color);
  color: #b1c2cf;
  margin-bottom: 2rem;
  border-radius: 10px;
text-decoration: none;
  box-shadow: 0px 4px 30px var(--tx-color);
transition: .5s ease;
   animation: Left 2s ease forwards;  


}
.about .a a:hover{
  box-shadow: 2px 14px 50px var(--tx-color);
background-color: rgb(33, 157, 161);
}
.about h3{
  margin-top: 3rem;
  color: var(--tx-color);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight:900;
   animation: Right 1s ease forwards;  

}



.skils{
  width: 100%;
  display: flex;
  gap: 5%;
}
.itms{
  width: calc(100%/3);
  /* border: 2px solid var(--tx-color); */
  padding: 2rem;
  background-color: var(--bdl-color);
margin-bottom: 3%;
transition: .5s ease;
box-shadow:  0px 0px 10px var(--tx-color);
border-radius: 10px;
   animation: zoomOut 2s ease forwards;  

}
.itms:hover{
  transform: scale(1.1);
}
.itms h4{
  color: var(--tx-color);
  font-size: 1.5rem;
  font-weight: 800;
}
.itms ul li{
  margin-top: 20px;
}
.itms ul li::marker{
  color: var(--tx-color);
  font-size: 1.2rem;
  
}
#project{
  background-color: var(--bdl-color);
padding: 3rem 0 0 ;

}
.project{
  display: flex;
  padding-top: 3rem;
  gap: 3%;
     animation: zoomIn 1s ease forwards;  
 

}
.pro{
  width: calc(100%/3);
box-shadow: 0px 0px 20px var(--tx-color);
border-radius: 10px;
transition: .5s ease;
}
.pro:hover{

  transform: scale(1.1);
  box-shadow: 0px 0px 30px var(--tx-color);
}
.pro img{
  width: 100%;
  border-radius: 10px;
transition: .5s ease;


}
.pro img:hover{
  transform: scale(.9);
  box-shadow: 0px 0px 30px var(--tx-color);
}
.tixt-pro h2{
  padding: 2rem 1rem;
  color: var(--tx-color);
}
.tixt-pro p{
  color: #b1c2cf;
  font-size: 18px;
  align-items: center;
  text-align: center;
  display: flex;
}
.h5{
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;


}
.h5 h5{
  width: 60px;
  height: 60px;
  /* background-color: transparent; */
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
     border: 2px solid var(--tx-color); 
border-radius: 50%;
color: white;


}

.tixta{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.tixt-pro a{
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: var(--tx-color);
  box-shadow: 0px 2px 10px var(--tx-color);
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.tixt-pro a:hover{
  box-shadow: 0px 4px 20px var(--tx-color);
  background-color: rgb(33, 157, 161);
}
#contact{
  background-color: var(--bdd-color);
  color: #b1c2cf;
  margin: 5rem 0 0 0;
  padding-bottom: 9rem ;
}
.contact{
  display: flex;
  gap: 1%;
  
  
}
.con-right{
  width:2%;
  border-right: .1px solid #b1c2cf; ;
     animation: zoomIn 1s ease forwards;  


}
.con-right span{
  display: block;
  color: #b1c2cf;
margin: 0px;
  margin-top: 1rem;
  

}
.con-left{
     animation: Left 1s ease forwards;  

}
.con-left p{
    margin-top: .96rem;
}
.conconn{

  color:   #34BDA8 ;
}
.conconn p a i{
  color:   #34BDA8 ;
}
.conconn p a{
text-decoration: none;

}
.concon{
  color: rgb(90, 90, 255);
}
.concon input{
background-color: transparent;
border: none;
outline: none;
color: #c06922;
font-size: 18px;
}

.itm2 a{
  text-decoration: none;
  color: #b1c2cf;
  font-weight: 800;
  transition: .5s ease;
}

.itm2 a:hover{
  color: var(--tx-color);
  padding-left: .5rem;

}
.about p span{
  color: var(--tx-color);
  font-weight: 900;
  font-size: 30px;
  filter: drop-shadow(0px 0px 5px var(--tx-color));
}


@media (min-width: 370px) and (max-width: 850px) {

.vs ul li{
  display: none;
}
.iconnav{
  display: none;

}
.circel div{
  width: 10px;
  height: 10px;
}
.name{
  font-size: 10px;
}
.main-nav{
  display: none;

}
.itm1{
padding: .1rem;

}
.itm1 i{
  margin-right: .1rem;
}

.icon .start {
  display: none;
}



.information{
  display: block;
  margin-top: 40px;
  height: 110vh;
}
.info-text{
  width: 100%;
    
}
.vs{
  display: none;
}
.info-text h2{

padding-bottom: 2rem;
}
.loc{
  width: 90%;
}



.img{
  width: 300px;
  height: 250px;
  padding-top: 2rem;
  

}
.img img{

.img img:hover{
  transform: scale(1.1);
  box-shadow: 10px 8px 50px var(--tx-color);

}





.icon .start {
  width: 7%;
}
.information{
  display: block;
}

}









.skils{
  width: 100%;
  display: inline-block;
  gap: 5%;
}
.itms{
  width: calc(100%);
  padding: 2rem;
margin-bottom: 5%;


}


#project{
  background-color: var(--bdl-color);
padding: 3rem 0 0 ;

}
.project{
  display: inline-block;
  padding-top: 3rem;
     animation: zoomIn 1s ease forwards;  
 margin-left: 4.5%;

}
.pro{
  width: calc(100%);
box-shadow: 0px 0px 20px var(--tx-color);
border-radius: 10px;
transition: .5s ease;

 margin-bottom: 7%;


}
.pro:hover{

  transform: scale(1.1);
  box-shadow: 0px 0px 30px var(--tx-color);
}
.pro img{
  width: 100%;
  border-radius: 10px;
transition: .5s ease;


}
.pro img:hover{
  transform: scale(.9);
  box-shadow: 0px 0px 30px var(--tx-color);
}
.tixt-pro h2{
  padding: 2rem 1rem;
  color: var(--tx-color);
}
.tixt-pro p{
  color: #b1c2cf;
  font-size: 18px;
  align-items: center;
  text-align: center;
  display: flex;
}
.h5{
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;


}
.h5 h5{
  width: 60px;
  height: 60px;
  /* background-color: transparent; */
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
     border: 2px solid var(--tx-color); 
border-radius: 50%;
color: white;


}

.tixta{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.tixt-pro a{
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: var(--tx-color);
  box-shadow: 0px 2px 10px var(--tx-color);
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.tixt-pro a:hover{
  box-shadow: 0px 4px 20px var(--tx-color);
  background-color: rgb(33, 157, 161);
}
#contact{
  background-color: var(--bdd-color);
  color: #b1c2cf;
  margin: 5rem 0 0 0;
  padding-bottom: 9rem ;
}
.contact{
  display: flex;
  gap: 1%;
  
  
}
.con-right{
  width:8%;
  border-right: .1px solid #b1c2cf; ;
     animation: zoomIn 1s ease forwards;  
     


}
.con-right span{
  display: block;
  color: #b1c2cf;
margin: 0px;
  margin-top: 1rem;
  

}
.con-left{
     animation: Left 1s ease forwards;  

}
.con-left p{
    margin-top: .96rem;
    font-size: .7rem;
}
.conconn{

  color:   #34BDA8 ;
}
.conconn p a i{
  color:   #34BDA8 ;
}
.conconn p a{
text-decoration: none;

}
.concon{
  color: rgb(90, 90, 255);
}
.concon input{
background-color: transparent;
border: none;
outline: none;
color: #c06922;
font-size: 18px;
}

.itm2 a{
  text-decoration: none;
  color: #b1c2cf;
  font-weight: 800;
  transition: .5s ease;
}

.itm2 a:hover{
  color: var(--tx-color);
  padding-left: .5rem;

}
.about p span{
  color: var(--tx-color);
  font-weight: 900;
  font-size: 30px;
  filter: drop-shadow(0px 0px 5px var(--tx-color));
}
.main{
  display: flex;
  padding-top: 0px;
  height: 100%;

}
}


